/*-------------------------------------
		1.General css (Reset code)
--------------------------------------*/
*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color:#818998;
    text-transform:initial;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	color: #444a57;
	font-size:20px;
	padding:0;
    font-weight: 500;
    text-transform: capitalize;
}
h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#444a57;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
p {
	margin: 0;
	color:#818998;
	font-size:16px;
    line-height: 1.8;
    text-transform: initial;
}
img{border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
    display: inline-block;
	
}
select,input,textarea,button,.form-control{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;font-size: 16px;text-transform: capitalize;}

html,body{height: 100%;}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}
.owl-carousel {z-index: 0;}
/* section-header */
.section-header{
    position: relative;
    text-align: center;
}
.section-header h2{
    position: relative;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 35px;
}
.section-header h2:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -42px;
    background: #15568C;
}
.section-header p{color: #444a57;text-transform: capitalize;margin-bottom:10px;}
.section-header h2 span,.section-header p span{text-transform: lowercase;}

/* section-header */

/*=============Style css=========*/
/*-------------------------------------
		1.General css (Reset code)
--------------------------------------*/
*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color:#818998;
    text-transform:initial;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	color: #444a57;
	font-size:20px;
	padding:0;
    font-weight: 500;
    text-transform: capitalize;
}
h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#444a57;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
p {
	margin: 0;
	color:#818998;
	font-size:16px;
    line-height: 1.8;
    text-transform: initial;
}
img{border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
    display: inline-block;
	
}
select,input,textarea,button,.form-control{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;font-size: 16px;text-transform: capitalize;}

html,body{height: 100%;}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}
.owl-carousel {z-index: 0;}
/* section-header */
.section-header{
    position: relative;
    text-align: center;
}
.section-header h2{
    position: relative;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 35px;
}
.section-header h2:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -42px;
    background: #15568C;
}
.section-header p{color: #444a57;text-transform: capitalize;margin-bottom:10px;}
.section-header h2 span,.section-header p span{text-transform: lowercase;}

/* section-header */

/*=============Style css=========*/
/*-------------------------------------
		1.General css (Reset code)
--------------------------------------*/
*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color:#818998;
    text-transform:initial;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	color: #444a57;
	font-size:20px;
	padding:0;
    font-weight: 500;
    text-transform: capitalize;
}
h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#444a57;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
p {
	margin: 0;
	color:#818998;
	font-size:16px;
    line-height: 1.8;
    text-transform: initial;
}
img{border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
    display: inline-block;
	
}
select,input,textarea,button,.form-control{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;font-size: 16px;text-transform: capitalize;}

html,body{height: 100%;}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}
.owl-carousel {z-index: 0;}
/* section-header */
.section-header{
    position: relative;
    text-align: center;
}
.section-header h2{
    position: relative;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 35px;
}
.section-header h2:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -42px;
    background: #15568C;
}
.section-header p{color: #444a57;text-transform: capitalize;margin-bottom:10px;}
.section-header h2 span,.section-header p span{text-transform: lowercase;}

/* section-header */

/*=============Style css=========*/
/*-------------------------------------
        2. Top-area
--------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px)
{
    nav.navbar.bootsnav {
        margin-right: 20px;
    }
}
@media (min-width:768px)
{
    .navbar-box {
        margin: 50px; /* Margin around the navbar */
    }
}

.navbar-header{
    display: flex;
    align-items: center;
}

nav.navbar.bootsnav {
    background-color: transparent;
    border-bottom: transparent;
    
}

.header-area {
    margin-right: 50px !important;
}
.wrap-sticky nav.navbar.bootsnav.sticked {background-color: white;box-shadow: 0 2px 5px rgba(0,0,0,.2);}

/*.navbar-brand*/
/* .navbar-header a.navbar-brand,.navbar-header a.navbar-brand:hover,.navbar-header a.navbar-brand:focus{
    display: inline-block;
    color: #000;
    font-size: 24px;
    letter-spacing: 3px;
    font-family: 'Poppins', serif;
    font-weight: 700;
    padding: 45px 0px;
    text-transform:uppercase;
    background-color: white;
}


.navbar-header a.navbar-brand span{display: inline-block;color:#15568C;text-transform:capitalize;}

.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {padding:30px 0px;} */
/*.navbar-brand*/

/*.nav li*/
nav.navbar.bootsnav ul.nav > li > a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform:uppercase;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}
nav.navbar.bootsnav ul.nav > li > a {padding: 48px 21px;}
nav.navbar.bootsnav ul.nav > li > a:hover,nav.navbar.bootsnav ul.nav > li > a:focus{color:#15568C;}
/* nav.navbar.bootsnav ul.nav > li.active>a {color: #15568C;} */

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
    content: "";
}
nav.navbar.bootsnav ul.nav > li.dropdown span {
    font-size: 8px;
    margin-left: 15px;
}
.wrap-sticky nav.navbar.bootsnav.sticked ul.nav > li > a{padding:30px 25px;}
/*.nav li*/

/*.menu-ui-design*/
.menu-ui-design{overflow-y:scroll;height: 350px;}
.menu-ui-design::-webkit-scrollbar {
    width:5px;
}
.menu-ui-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #000;
}
.menu-ui-design::-webkit-scrollbar-thumb {
  background-color: #15568C;
}
/*.menu-ui-design*/

/*.navbar-toggle */
nav.navbar.bootsnav .navbar-toggle {
    position: relative;
    background-color: white;
    border: 1px solid #15568C;
    padding: 10px;
    top: 0;
}
nav.navbar.bootsnav .navbar-toggle i{color: #15568C;}
/*.navbar-toggle */

/* Adjustments for the navbar-brand as an image */
 a.navbar-brand img {
    max-height: 80px;
    padding: 10px 0px;
    transition: 0.3s;
    background-color: transparent;
}

/* Sticky navbar brand image styling */
.wrap-sticky nav.navbar.bootsnav.sticked  a.navbar-brand img {
    height: 50px; 
    padding: 5px 0;
}

@media (max-width: 1025px) {
    
    .header-area  .container{
        padding-right: 50px;
        margin-right: 50px !important;
    }
    
}

@media (max-width: 1000px)
{
  a.navbar-brand img {
    display: none;
}
}

@media (max-width: 990px) {
    
    .navbar-header {
        display: flex;
        justify-content: space-between; /* Space between logo and toggle */
        align-items: center; /* Center items vertically */
        width: 100%;
        padding: 0 15px; /* Adjust horizontal padding */
    }

     /* Position the logo at the top-right */
     /* .navbar-header .navbar-brand {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 20px; 
        max-height: 70px;
    } */

    /* Ensure the toggle button is on the right */
    nav.navbar.bootsnav .navbar-toggle {
        padding: 8px; /* Reduce padding for small screens */
        border: 1px solid #15568C;
        display: flex;
        justify-content: flex-end; /* Align to the right */
    }

    /* Navbar links */
    nav.navbar.bootsnav ul.nav > li > a {
        padding: 10px 15px; /* Reduced padding for smaller screens */
    }

    /* Logo image adjustments */
    a.navbar-brand img {
        /* max-height: 60px; 
        transition: 0.3s;
        position: absolute;
        top: 0px;
        right: 10px;
        padding: 8px 20px; */
        display: none;
    }

    /* Sticky navbar brand image styling */
    .wrap-sticky nav.navbar.bootsnav.sticked a.navbar-brand img {
        height: 50px;
        padding: 5px 0;
    }

    .navbar-collapse.collapsed {
        max-height: 30%; /* Adjust this percentage to control the container size */
        margin: 0 auto; /* Center the collapse container */
    }

    .navbar .container.d-flex.align-items-center.collapsed {
        padding: 10px; /* Reduce padding on small screens */
        max-height: 10px; /* Set max-width to 90% of the screen */
        margin: 0 auto; /* Center the container */
    }

    .navbar-header.collapsed {
        height: 50px; /* Adjust this value as needed */
    }
   
}


/*-------------------------------------
        3.  Welcome-hero
--------------------------------------*/

/* Keyframes for zoom-in effect */
@keyframes zoomIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Apply the animation specifically to welcome-hero */
.welcome-hero {
    animation: zoomIn 1s ease-out forwards;
    transform: scale(1); /* Hold at full scale after animation */
    opacity: 1;
    position: relative;
    background: url(../images/hero.png) no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: 120vh;
}


.welcome-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/hero.png) no-repeat center center;
    background-size: cover;
    z-index: -1;
    animation: zoomInBackground 1s ease-out forwards;
    transform: scale(0.8); /* Start slightly zoomed in */
    opacity: 0; /* Start invisible */
}
/* .welcome-hero {
    position: relative;
    background:url(../images/hero.png)no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: 120vh;
} */
/* .welcome-hero:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42,45,84,.60);
} */
.header-area{position: absolute;top:0;left:0;width: 100%;z-index: 99;}

/*.welcome-hero-txt*/
.welcome-hero-txt{text-align: center;padding:290px 0 372px;
    }
.welcome-hero-txt h2 {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.welcome-hero-txt p {
    font-size: 18px;
    text-transform: initial;
    color: #fff;
    font-weight: 500;
    max-width: 735px;
    margin: 0 auto;
}
.welcome-btn {
    display: inline-block;
    width: 230px;
    height: 60px;
    background: #15568C;
    color: #fff;
    border-radius: 3px;
    margin-top: 55px;
    -webkit-transition: .3s linear; 
    -moz-transition:.3s linear; 
    -ms-transition:.3s linear; 
    -o-transition:.3s linear;
    transition: .3s linear;
}
.welcome-btn:hover{
    background: #0102fa;
}
/*.welcome-hero-txt*/

/*-------------------------------------
        4. Model-Search
--------------------------------------*/

.sports {
    margin-top: 100px;
}

.cat img{
    height: auto;
}

.cat {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition for both transform and shadow */
}

.cat:hover {
    transform: translateY(-10px); /* Moves the item 10px up */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow on hover */
}

@media (max-width:1024px){

    .sports {
        margin-top: 750px;
    }

    .cat img{
        width: 80%;
    }

    .cat a{
    display: flex;
    align-items: center !important;
    justify-content: center;
    margin-bottom: 20px;
    
    }
}

@media (max-width:767px){

    .sports {
        margin-top: 350px;
    }

    .cat img{
        height: 400px;
    }

    .cat{
    display: flex;
    align-items: center; /* Centers the logo vertically */
    justify-content: center;
    margin-bottom: 20px;
    
    }

}

/* Center-align tabs with padding and spacing */
.custom-tabs {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.custom-tabs .nav-link {
    padding: 10px 0; /* Adjust vertical padding */
    margin-bottom: 10px;
    color: grey; /* Inactive tab color */
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 200px; /* Fixed width */
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    text-align: center; /* Ensure text is centered */
    transition: all 0.3s ease;
}


.custom-tabs .nav-link:hover {
    color: #15568C;
    border-color: #15568C;
    transform: translateY(-2px);
}

.custom-tabs .nav-link.active {
    background-color: transparent;
    color: #15568C;
    border-color: #15568C;
    transform: translateY(-2px);
}

.custom-tabs .nav-item {
    margin: 0 0px;
}

/* .tab-content {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-item .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.item img {
    height: 220px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dadfe9;
} */

.item h4 {
    font-size: 18px;
    margin-top: 10px;
}

.item .badge {
    font-size: 14px;
    color: #fff;
    margin-top: 5px;
}


/*-------------------------------------       
        8. Clients-say 
--------------------------------------*/
/* .clients-say{padding:115px 0 80px;background: #f8f9fb;} */

/*single-testimonial-box */
.single-testimonial-box  {
    padding: 50px 30px 57px;
    text-align: left;
    
    overflow-x: hidden;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}

/*testimonial-description*/
.clients-say .testimonial-carousel .col-sm-3,
.clients-say .testimonial-carousel .col-xs-12{
    width:100%;
    height:auto;
}
/* testimonial-info */
.testimonial-img {
    margin-right: 5px;
    /* border-radius:50%; */
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
/* .owl-item {
  width: auto !important; 
  height: auto !important; 
}
.owl-carousel {
  display: flex; 
  justify-content: center; 
} */

/* .owl-carousel .owl-item img,
.testimonial-img {
    width: 100px; 
    height: 100px; 
    display: block;
    margin: 0 auto;
} */

@media (max-width: 1204px) and (min-width: 768px) {
  .owl-carousel .owl-item img, .testimonial-img {
     /* width: 80% !important;
     height: 80% !important; */
  }
}

.testimonial-person h2 a,.testimonial-person h4 {
    font-size: 14px;
    counter-reset: #000;
    font-weight: 600;
}
.testimonial-person h4{
    margin-top: 10px;
    color: #8B8B8B;
    font-size: 12px;
    font-weight: 400;
}/* testimonial-info */


/* testimonial-comment */
.testimonial-comment p {
    font-size: 16px;
    color: #5e6778;
    margin-top: 30px;
    margin-bottom: 25px;
}/* testimonial-comment */


/* Default state */
.single-testimonial-box {
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

/* Hover state */
.single-testimonial-box:hover h2 a,
.single-testimonial-box:hover h4,
.single-testimonial-box:hover p {
  color: #5e6778;
}

.single-testimonial-box:hover {
  background: white;
  border: 1px solid whitesmoke;
  box-shadow: 0 12px 30px 0px rgba(0, 1, 193, 0.2);
  transform: translateY(-4px); /* Lifts the element slightly */
}

/*owl carousel*/
.clients-say .owl-carousel .owl-stage {
    position: relative;
    padding: 100px 0 40px;
}
.clients-say .owl-carousel .owl-item img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius:50%;
    margin:0 auto;
}
/*owl carousel*/




/*-------------------------------------
        5. Service 
--------------------------------------*/
.service { padding: 260px 0 87px;
    /* background:#dfdfdf; */
    background: url('../images/bg.jpg');

}

@media (max-width: 390px) {
  .service {
      padding: 10px 0; 
      min-height: 800px; 
      background-position: center; 
  }
}

/* For screens between 391px and 767px */
@media (min-width: 391px) and (max-width: 767px) {
  .service {
      padding: 10px 0; 
      min-height: 1800px; 
      background-position: center; 
  }
}

/* For screens between 768px and 996px */
@media (min-width: 768px) and (max-width: 996px) {
  .service {
      padding: 0px 0; 
      min-height: 2600px; 
      background-position: center; 
  }
}

/*-------------------------------------
        12. Contact
--------------------------------------*/
.contact {
    background: #000;
}
.footer-top {padding: 112px 0 72px;}



/*.footer-logo*/
.footer-logo a,.footer-logo a:hover,.footer-logo a:focus{
    display: inline-block;
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    font-family: 'Poppins', serif;
    font-weight: 700;
    text-transform:uppercase;
}
.single-footer-widget p {
    font-size: 14px;
    color: #eeeff6;
    max-width: 300px;
    margin:40px 0 20px;
}
.footer-contact p {
    margin: 0;
    color: #fff;
}
/*.footer-logo*/

.single-footer-widget {margin-bottom: 40px;}
.single-footer-widget h2 {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 43px;
}
.single-footer-widget ul li {
    display:  inherit;
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
}
.single-footer-widget ul li:hover{
    -webkit-transform:translateX(10px);
    -moz-transform:translateX(10px);
    -ms-transform:translateX(10px);
    -o-transform:translateX(10px);
    transform:translateX(10px);
}
.single-footer-widget ul li a {
    font-size:  14px;
    color:  #fff;
    font-weight:  300;
    padding-bottom: 13px;
}
.single-footer-widget ul li a span {text-transform: lowercase;}
.footer-newsletter p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 15px;
}
/*hm-foot-email*/
.hm-foot-email{position: relative;}
.foot-email-box .form-control {
    background:#353b7d;
    display: block;
    padding: 15px 20px;
    outline:0!important;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    border:0;
}
.foot-email-box input[type="text"]{
    font-size: 12px;
    color: #666c81;
    font-weight: 300;
}
.foot-email-subscribe {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: transparent;
    color: #666c81;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-email-box .form-control:hover{
    box-shadow:0 5px 15px rgba(0,0,0,.4);
}
/*hm-foot-email*/
/*.footer-copyright */
.footer-copyright {
    padding: 20px 0 17px;
    border-top: 1px solid #434859;
}
.footer-copyright p,.footer-copyright p a {
    color: #a8a9bf;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.footer-social{text-align: right;}
.footer-social a i {
    color: #fff;
    opacity: 1;
    font-size: 14px;
    margin-left: 16px;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
.footer-social i:hover{opacity: .40;}
/*.footer-copyright */

.footer-newsletter a i {
    color: #fff;
    opacity: 1;
    font-size: 12px;
    margin-left: 16px;
    margin-top: 10px;
    
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
.footer-newsletter i:hover{opacity: .40;}

/*===============================
    Scroll Top
===============================*/
#scroll-Top  .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background:#15568C;
	border:1px solid #15568C;
	border-radius:50%;
	-webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
	z-index: 2;
}
#scroll-Top  .return-to-top:hover {
    background:#fff;
    color: #15568C;
	border:1px solid #15568C;
}

#scroll-Top  .return-to-top i{
    position:relative;
    bottom:0;

}

#scroll-Top  .return-to-top i{
    position: relative;
    animation-name: example;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration:1s;
}
@keyframes example {
    0%   {bottom:0px;}
    100%  {bottom:7px;}
}
/*========================Thank you=================


/* ======================== Basketball =====================*/
.welcome-hero-txt1 .row {
    display: flex;
    align-items: center; /* Centers content vertically */
    height: 100vh; /* Adjusts to make the div fill the screen height */
    margin: 0;
}

.halfdiv {
    padding: 0; /* Removes padding from the image column */
    height: 100%;
}

.halfdiv img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire space without distortion */
}

.text-column {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align text to the left */
    justify-content: center; /* Center vertically */
    padding-left: 20px; /* Optional padding for visual spacing */
}

.text-column h2 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    text-align: left ; /* Ensures text aligns left */
}

.video-section {
    width: 100vw; /* Full viewport width */
    margin: 0 auto; /* Center the section */
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/***********************
========================
    7.  category
========================
************************/
@media (max-width: 767px) {
    .categories_area {
      padding-top: 50px;
      margin-bottom: 0;
    }
  }
  
  .categories__tab .nav-tabs {
    border: 1px solid transparent;
  }
  
  .categories__tab ul li button {
    font-family: "Barlow Condensed", Sans-serif;
    font-weight: 600;
    color: #222222;
    font-size: 16px;
    display: inline-block;
    padding: 10px 45px;
    border: 2px solid #ebebeb !important;
    border-radius: 0 !important;
  }
  @media (max-width: 767px) {
    .categories__tab ul li button {
      padding: 5px 10px;
    }
  }
  
  .categories__tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #2bb9a9;
    background-color: #fff;
    border: 1px solid #2bb9a9 !important;
    border-radius: 0;
  }
  
  .product__thumb {
    position: relative;
  }
  .product__thumb:hover .product-secondary {
    opacity: 1;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .product__thumb:hover .product__update {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .product__thumb:hover .product__action {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    top: 27%;
  }
  
  .product-secondary {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  
  .product__update a {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #1c3ce3;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  
  .product-info {
    display: flex;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    justify-content: space-between;
  }
  
  .product_rating a {
    display: inline-block;
    font-size: 11px;
  }
  .product_rating a i {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .product_rating a i:hover {
    color: #ffab02;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  
  .product_category {
    width: 51%;
  }
  .product_category span {
    color: #888888;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .product__name h4 {
    font-size: 18px;
    color: #222222;
    font-weight: 600;
    font-family: "Barlow Condensed", Sans-serif;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    text-transform: capitalize;
  }
  .product__name h4:hover {
    color: #2bb9a9;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .product__name p {
    font-size: 18px;
    color: #222222;
    font-weight: 600;
    font-family: "Barlow Condensed", Sans-serif;
  }
  
  .new_product_area {
    border-bottom: 1px solid #ebebeb;
    padding: 80px 60px;
  }
  @media (max-width: 767px) {
    .new_product_area {
      padding: 0;
    }
  }
  
  .padding-left {
    padding-left: 50px;
  }
  @media (max-width: 767px) {
    .padding-left {
      padding: 0;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .padding-left {
      padding: 0;
    }
  }
  
  @media (max-width: 767px) {
    .section-wrapper {
      padding-top: 44px;
      padding-bottom: 0;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .section-wrapper {
      padding-top: 44px;
      padding-bottom: 0;
    }
  }
  
  @media (max-width: 767px) {
    .product-2 {
      padding: 16px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .product-2 {
      padding: 16px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .product-2 {
      padding: 16px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1500px) {
    .product-2 {
      padding: 16px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .categories_area {
      padding-top: 0;
      margin-bottom: 50px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .new_product_area {
      padding-top: 0;
    }
  }
  
  .product.product_3 {
    background: #fff;
    padding: 10px;
  }
  
  .categories_area_3 {
    position: relative;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .categories_area_3 {
      margin-bottom: 0;
    }
  }
  .categories_area_3::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0.7;
  }
  
  .pro-price {
    position: relative;
    min-height: 35px;
  }
  
  .p-absoulute {
    position: absolute;
  }
  
  .pr-1 {
    top: 0;
    transition: all 0.3s;
    left: 0;
  }
  
  .pr-2 {
    text-transform: uppercase;
    transform: translateY(-43px);
    transition: all 0.3s;
    border-bottom: 2px solid #000;
  }
  
  .product {
    padding: 12px;
    margin: 5px;
    width: 100%;
  }
  .product:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .product:hover .pro-price .pr-2 {
    transform: translateY(0);
  }
  .product:hover .pro-price .pr-1 {
    transform: translateY(43px);
    opacity: 1;
    visibility: visible;
  }
  .product:hover .product__thumb > a {
    opacity: 0.6;
  }
  .product:hover .inner__action {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    top: 50%;
  }
  
  .inner__action {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 138px;
    justify-content: space-around;
    background: #fff;
    border: 1px solid #000;
    opacity: 0;
    justify-content: flex-end;
    visibility: hidden;
  }
  
  .inner__action > div {
    flex: 0 0 33.33%;
    background-color: #fff;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .inner__action > div:hover {
    background: #000;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  
  .inner__action > div:not(:first-child)::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background: #000;
    content: "";
  }
  
  .inner__action > div > a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    display: block;
  }
  
  .layer:hover::before {
    opacity: 0;
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .product.product-2 {
      margin-left: -3px;
      padding: 37px;
    }
    .product.product-2:hover {
      box-shadow: none;
    }
  }
  
  @media (max-width: 767px) {
    .product.product-2 {
      padding: 45px;
    }
  }
  
  @media (max-width: 767px) {
    .product:hover {
      box-shadow: none;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .product {
      width: 107%;
      padding: 6px;
    }
    .product:hover {
      box-shadow: none;
    }
  }
  
  @media (max-width: 767px) {
    .product-4 {
      margin: 64px 0;
    }
  }
  
  .view__para p {
    font-family: "Futura Std Book";
    font-size: 16px;
    color: #666666;
    line-height: 1.8571428571;
  }
  
  .list-actions a {
    text-transform: uppercase;
  }
  .list-actions a:first-child {
    padding: 15px 80px;
    background-color: transparent;
    color: #222222;
    border: 1px solid #ddd;
  }
  
  .list-actions a {
    border: 1px solid #ddd;
    padding: 15px 15px;
  }
  .list-actions a:hover {
    color: #2bb9a9;
  }
  
  .border-top {
    border-top: 1px solid #ddd;
  }
  
  .list__thumb img:hover {
    opacity: 0.6;
  }
  
  .list__content .viewcontent {
    padding-bottom: 0px;
    padding-top: 20px;
  }
  
  .pro-price {
    overflow: hidden;
  }
